<style>
body
{
color: black;
font: Roboto (serif);
font-weight: normal;
font-style: normal;
text-align: left;
}

header
{
text-align: center;
}

tfoot
{
background-color: #3f87a6;
color: #fff;
}

footer {
font-size: 20pt;
color:gray;
font-style:italic;
font-family:Verdana, sans-serif;
}

main
{
color: black;
font: Roboto (serif);
font-weight: normal;
font-style: normal;
}

h1 
{
color: darkgreen;
font-family: Roboto, sans-serif;
font-size: 30px;
font-weight: bold;
margin-left: 0px;
margin-right: 4px;
text-transform: uppercase;
}
h2
{
  color: lightgreen;
font-family: Roboto, sans-serif;
font-size: 30px;
margin-left: 0px;
margin-right: 4px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

section{
  margin: 50px;
}
ul{
	text-align: left;
	list-style-position: inside;}
div{
	text-align: left;
}
</style>
