<style>
h1{
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  background-color: blue;
  border: 5px dashed darkblue;
}
header{
  font-family: fantasy;
  text-align: center;
  background-color: lightblue;
 c
}
Main{
  text-align: center;
  font-family: fantasy;
  background-color: lightblue;
   border: 5px dashed blue;
}
</style>
